body {
    background-color: #62708a;
    color: snow;
    font-family: 'Helvetica';
}

#logo {
    text-align: center;
    font-weight: bolder;
    font-size: 6em;
    margin: auto;
}

table {
    margin: auto;
    width: 50%;
}

.cell,
.textCell,
.input,
.textInput {
    color: snow;
    height: 50px;
    margin: auto;
    font-size: larger;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: #778899;
    border-radius: 5px;
}

.textCell {
    width: 400px;
}

.input,
.textInput {
    color: snow;
    margin: auto;
    padding: 1px;
    width: 100%;
    font-size: larger;
    font-family: Helvetica;
    background-color: #778899;
}

.textInput {
    width: 100%;
    border: 0px;
}

.lockCheckbox {
    width: 50px;
    margin: auto;
    background-color: #778899;
}

.buttontd {
    width: 25%;
}

#buttons {
    text-align: center;
    margin: auto;
}

button {
    border: 0px;
    display: block;
    margin: auto;
    width: 100%;
}